<router-outlet>
    <div class="header">
        <div class="loading">
            <h2 style="color: black; text-align: start; margin-left: 20px;"> TalkGPT +</h2>
        </div>
        <div style="display: flex">
            <button class="btn-header" routerLink="/home">Home</button>
            <button *ngIf="!(afAuth.user | async)" class="btn-header" routerLink="/signup">Signup</button>
            <button *ngIf="!(afAuth.user | async)" class="btn-header" routerLink="/login">Login</button>
            <button *ngIf="(afAuth.user | async)" class="btn-header" routerLink="/dashboard">Dashboard</button>
            <button *ngIf="(afAuth.user | async)" class="btn-header" (click)="logout()">Log out</button>
        </div>
    </div>
</router-outlet>