<form [formGroup]="form" >
<!-- jos malo -->

  <label for="first-name">Add system preference: </label>
  <input id="first-name" type="text" formControlName="text">

</form>

<!-- <button (click)="onSubmit()">Submit</button> -->


<!-- <p *ngIf="response">{{ response?.role }}:  {{ response?.content }}</p> -->


<div style="height: 80vh;overflow: auto;">

<div *ngFor="let transcription of transcriptions" class="messages">

  <h4>{{ transcription.role }}</h4>
    <div class="user">
      <p>{{ transcription.transcript }}</p>
      <audio controls >
        <source [src]="sanitize(url)" type="audio/wav">
      </audio>
  
    </div>
  
    <h4 style="text-align: end;">{{ transcription.response.role }}</h4>
    <div class="assistent">
      <p>{{ transcription.response.content }}</p>
      <audio controls >
        <source [src]="sanitize(url)" type="audio/wav">
      </audio>
    </div>

</div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin: auto; padding-top: 25px;">

  <div (click)="initiateRecording()" class="micon"  *ngIf="!recording">
    <span class='CNToggle' title='Voice recognition enabled. Click to disable' data-cn='micon'>🎙️</span>
    <a class="btn btn-primary"> Start </a>
  </div>
  <div (click)="stopRecording()" class="micoff" *ngIf="recording">
    <span class='CNToggle' title='Voice recognition disabled. Click to enable' data-cn='micoff'>🤫 </span>
    <a class="btn btn-danger" > Stop </a>
  </div>
    <div class="clearfix"></div>
    <!-- <audio controls="" *ngIf="url">
        <source [src]="sanitize(url)" type="audio/wav">
    </audio> -->

</div>

<!-- <button (click)="opa()">play</button> -->