<!-- <button routerLink="/signup">
    Signup
</button>

<button routerLink="/login">
    Login
</button>

<button routerLink="/dashboard">
    Dashboard
</button>

<div *ngIf="(afAuth.user | async)">
    User is logged in

    <br>
    <button (click)="logout()">
        Log out
    </button>
</div>
<div *ngIf="!(afAuth.user | async)">
    User is not logged in
</div> -->

<div class="stripe"> 
    <stripe-pricing-table pricing-table-id="prctbl_1MoCSWFzh6uGD6XNDP4h3LzX"
    publishable-key="pk_live_51MoCEgFzh6uGD6XN0rn6ewyFgHs9hvlDXQ9g0YnAfe6uRMiXgsHz1QJBvXLFgmKBvm0S5UCSiQnPNG8g7OhMI5xV00ctqfaeRA">
    </stripe-pricing-table>
</div>

